.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.input-container>label {
  font-size: small;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin: 0;
  width: 100%;
}

input {
  outline: none;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

select {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}


input:disabled {
  opacity: 0.5;
  pointer-events: none;
}


.button {
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  border: none;
  box-shadow: 0px 1px 4px 0px #5a5a5a94;
}

.button:hover {
  transform: scale(102%);
  transition: all;
  transition-duration: 150ms;
  box-shadow: 0px 1px 4px 0px #5a5a5a94;
}

.button.img {
  box-shadow: none;
  background-color: transparent;
}

.button.primary {
  background-color: #009fa3;
  color: white;
}

.button.secondary {
  background-color: inherit;
  color: #00165b;
  border: 1px solid #00165b;
}

.button.danger {
  background-color: #a31000;
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.form-base-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.322);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.form {
  max-height: 90vh;
  height: fit-content;
  overflow-y: auto;
  width: 40vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #5a5a5a94;
  padding: 15px;
  position: relative;
}

.form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-body {
  height: 100%;
  width: 100%;
}

.form-footer {
  background-color: inherit;
  margin-top: 15px;
  position: sticky;
  bottom: 0;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}